.Projects {
  background-color: #A4ABB2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Image3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 1rem auto;
  display: block;
}

.Project {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 80%;
}

.search-input {
  width: 100%;
  border-radius: 25px !important;
}

.projects-container {
  display: flex;
  background-color: #808080;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.arrow-left,
.arrow-right {
  color: #000;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.search-input-container {
  width: 25%;
}

@media (max-width: 768px) {
  .search-input-container {
    width: 100%;
  }

  .projects-container {
    width: 100%;
  }
}
